body{
    background-color: #FFA07A;
    font-family: 'Spectral', serif;
    color: black;
}
header{
    background-color:rgb(0, 0, 0);
    font-weight: bolder;
    }
header a{
    color: white;
    font-size:larger;
}
.colum{
    margin: 30px;
    background-color: azure;
    text-align: center;
}
.colum li{
    text-align: left;
}
footer{
    background-color: black;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer_copyright{
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.main{
    height: 70vh;
}